doctype html
.row.padding-after
    .col-md-12
            p   I would like to borrow a​
            .checkbox
                label
                    input(ng-disabled = "laptopDisabled"  type="checkbox" ng-checked='student.laptop === 1 || student.laptop === true' ng-model='student.laptop'   )
                    span.p-check-icon
                        span.p-check-block
                    |
                    span.p-label.bold
                        | &nbsp;&nbsp;Laptop:&nbsp;
                    span.p-lable( ng-show="laptopDisabled")
                        |  You requested a laptop on <span style="font-weight:bold;">{{student.laptopsubdate | date: 'medium'}}</span>
            .checkbox
                label
                    input(type="checkbox" ng-disabled="hotspotDisabled" ng-change="itemClicked('hotspot');" ng-checked='student.hotspot===1 || student.hotspot === true' ng-model='student.hotspot' )
                    span.p-check-icon
                        span.p-check-block
                    |
                    span.p-label.bold
                        | &nbsp;&nbsp;WiFi personal internet hotspot​:&nbsp;
                    span.p-lable( ng-show="hotspotDisabled")
                        |  &nbsp;You requested a hotspot on <span style="font-weight:bold;">{{student.hotspotsubdate | date: 'medium'}}</span>
            .p-field-error(ng-show="(loanerLaptopAppForm.$submitted || SubmittedClicked) && ((student.laptop != true && student.hotspot!= true)  || (student.laptop != 1 && student.hotspot != 1))  ") Please select a request for either a laptop, hotspot or both.

.p-subtitle
    span.p-title-line.bold  Contact Information
    br
    span(ng-show="student.disableFieldsFlag")  If this address is incorrect please contact the <a href="mailto:cohelpdesk@ccc.edu">cohelpdesk</a>
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='prefPhone') Phone
            .input-group.p-has-icon
                input#prefPhone.form-control.bootcamp-input(type='text', name='prefPhone',
                ui-mask='999.999.9999' ui-mask-placeholder ui-options="{clearOnBlur:false}"
                placeholder='preferred phone' ng-model="student.mobilephone"
                ng-disabled="student.disableFieldsFlag"   required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            .p-field-error( ng-if="loanerLaptopAppForm.prefPhone.$touched && loanerLaptopAppForm.prefPhone.$error.mask" ) Enter a 10 digit phone.
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.prefPhone.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.prefPhone.$error.required') A phone number is required.
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='address1') Address  <span style="font-weight:bold;">(Please note: We cannot deliver to a P.O. Box)</span>
            .input-group.p-has-icon
                input#address1.form-control.bootcamp-input(type='text' name='address1' placeholder='address' ng-disabled="student.disableFieldsFlag"
                    ng-model="student.address"
                    required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.address1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.address1.$error.required') An address is required.
                .p-field-error(ng-show='student.address.match(POBox) != null  || student.address.match(POBox1) != null') We cannot deliver to a P.O. Box.

    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='address2') Apartment/Unit/Suite Number
            .input-group.p-has-icon
                input#address2.form-control.bootcamp-input(type='text' ng-disabled="student.disableFieldsFlag"  name='address2' placeholder='Apt # or Unit' ng-model="student.address2")
.row.padding-after

    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='city1') City
            .input-group.p-has-icon
                input#city1.form-control.bootcamp-input(type='text' name='city1' placeholder='city' ng-disabled="student.disableFieldsFlag" ng-model="student.city" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.city1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.city1.$error.required') A city is required.
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='state1') State
            |
            label.input-group.p-has-icon.p-custom-arrow
                select.form-control.bootcamp-input(name='state1' ng-disabled="student.disableFieldsFlag" ng-options="element for element in states"
                id="state1"  ng-model="student.state" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.state1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.state1.$error.required') Please select a state.
        label(style="font-weight:bold;") We can only accept requests from IL, IN, and WI. If you are sheltering in place in another state, please contact the cohelpdesk@ccc.edu or leave a message at 312-553-2600 for assistance.
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='postal-code1') Postal Code
            .input-group.p-has-icon
                input#postal-code1.form-control.bootcamp-input(type='text' ui-mask="99999" ui-mask-placeholder
                ui-options="{clearOnBlur:false}"  name='postalCode1' placeholder='postal code' ng-disabled="student.disableFieldsFlag" ng-model="student.postal" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            .p-field-error( ng-if="loanerLaptopAppForm.postalCode1.$touched && loanerLaptopAppForm.postalCode1.$error.mask" ) Enter a valid postal code.
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.postalCode1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.postalCode1.$error.required') Please enter a postal code.

hr
div(ng-show="Submitted")
    p  <a class="pointer" ng-click="goToAgreement('agreement')"><span style="font-weight: bold;">Acknowledgment here.</span></a>
div(ng-hide="Submitted")
    <strong>Acknowledgment</strong>
    p By clicking this box, I acknowledge that I have read and that I agree to the terms and conditions of the loaner laptop program found <a class="pointer" ng-click="goToAgreement('agreement')"><span style="font-weight: bold;">here.</span></a>

    .custom-control.custom-checkbox
        input#privacyconsent.custom-control-input(type='checkbox', name='privacyconsent', ng-model='student.privacyconsent', required)
        label.custom-control-label(for='privacyconsent') Agree to terms and conditions
        span.glyphicon.glyphicon-check
        i.fa.fa-check-square-o
        span.input-group-state
            span.p-position
                span.p-text
                    span.p-required-text
                        i.fa.fa-star
        span.p-field-cb
        div(ng-show='loanerLaptopAppForm.$submitted || SubmittedClicked')
            .p-field-error(ng-show='loanerLaptopAppForm.privacyconsent.$error.required') Please agree to terms and conditions

#addressModal.modal.fade(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-sm
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Address Validation
            .modal-body(ng-model="student")
                .row
                    .col-sm-12.sched-radioseason
                        .row
                            .col-sm-2
                                label( for="opt1")
                                    input#opt1(type="radio",   ng-click='addressSelectionMade("validatedAddress")'    name="opt")
                            .col-sm-10
                                p   Select the U.S. Post Office validated address if it looks correct
                        .row
                            .col-sm-12  {{student.delivery_line_1}}
                            .col-sm-12   {{student.last_line}}

                    .col-sm-12.sched-radioseason
                        hr
                        .row
                            .col-sm-2
                                label( for="opt0")
                                    input#opt0(type="radio",   ng-click='addressSelectionMade("enteredAddress")'  name="opt")
                            .col-sm-10
                                p  Or select the address you entered
                        .row
                            .col-sm-12   {{student.address }}  {{student.address2 }}
                            .col-sm-12    {{student.city  }}, {{student.state  }}   {{student.postal}}
                        hr
                .row
                    .col-sm-offset-4.col-sm-8
                        button.btn.btn-primary.btn-sm(type='input'  ng-click='closeModal()') Close to edit address



//td.sched-hide-desk.sched-detail-mob-btn
  //  button.btn.sched-modal-btn.fa.fa-plus-circle(style="padding-top: 16px;" type="button",ng-click="populateModal(class,course.Subject + ' ' + course.CatalogNum + ' '  + course.CourseTitle);" data-toggle="modal", data-target="#exampleModal")