doctype html
.row.padding-after
    .col-md-12
        p   Chcialbym pozyczyc
        .checkbox
            label
                input(ng-disabled = "laptopDisabled"  type="checkbox" ng-checked='student.laptop === 1 || student.laptop === true' ng-model='student.laptop'   )
                span.p-check-icon
                    span.p-check-block
                |
                span.p-label.bold
                    | &nbsp;&nbsp;Laptop:&nbsp;
                span.p-lable( ng-show="laptopDisabled")
                    |  Laptop: zwrociles sie o laptop <span style="font-weight:bold;">{{student.laptopsubdate | date: 'medium'}}</span>
        .checkbox
            label
                input(type="checkbox" ng-disabled="hotspotDisabled" ng-change="itemClicked('hotspot');" ng-checked='student.hotspot===1 || student.hotspot === true' ng-model='student.hotspot' )
                span.p-check-icon
                    span.p-check-block
                |
                span.p-label.bold
                    | &nbsp;&nbsp;WiFi personalnly punkt akcesu hotspot:&nbsp;
                span.p-lable( ng-show="hotspotDisabled")
                    |  &nbsp;zwrociles sie o hotspot <span style="font-weight:bold;">{{student.hotspotsubdate | date: 'medium'}}</span>
        .p-field-error(ng-show="(loanerLaptopAppForm.$submitted || SubmittedClicked) && ((student.laptop != true && student.hotspot!= true)  || (student.laptop != 1 && student.hotspot != 1))  ") Please select a request for either a laptop, hotspot or both.
.p-subtitle
    span.p-title-line  Informacja o Tobie
    br
    span(ng-show="student.disableFieldsFlag")  Jesli to nie jest wlasciwy adres dzwon <a href="mailto:cohelpdesk@ccc.edu">helpdesk</a>
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='prefPhone') Telefon
            .input-group.p-has-icon
                input#prefPhone.form-control.bootcamp-input(type='text', name='prefPhone',
                ui-mask='999.999.9999' ui-mask-placeholder ui-options="{clearOnBlur:false}"
                    ng-disabled="student.disableFieldsFlag"  placeholder='Telefon  ' ng-model="student.mobilephone" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            .p-field-error( ng-if="loanerLaptopAppForm.prefPhone.$touched && loanerLaptopAppForm.prefPhone.$error.mask" ) Wpisz Telefon 10.
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.prefPhone.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.prefPhone.$error.required') Wpisz Telefon

.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='address1') Adres  <span style="font-weight:bold;">(Please note: We cannot deliver to a P.O. Box)</span>
            .input-group.p-has-icon
                input#address1.form-control.bootcamp-input(type='text'
                    ng-disabled="student.disableFieldsFlag"  name='address1' placeholder='Adres' ng-model="student.address"  required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.address1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.address1.$error.required') Wpisz Adres.

    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='address2') Dodatkowy Apartment/Unit/Suite Number
            .input-group.p-has-icon
                input#address2.form-control.bootcamp-input(type='text' ng-disabled="student.disableFieldsFlag"  name='address2' placeholder='Apt # or Unit' ng-model="student.address2" )

.row.padding-after

    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='city1') Miasto 
            .input-group.p-has-icon
                input#city1.form-control.bootcamp-input(type='text' name='city1' placeholder='Miasto '
                    ng-disabled="student.disableFieldsFlag"  ng-model="student.city" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.city1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.city1.$error.required') Wpisz Miasto.
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='state1') Stan
            |
            label.input-group.p-has-icon.p-custom-arrow
                select.form-control.bootcamp-input(name='state1' ng-options="element for element in states"
                    ng-disabled="student.disableFieldsFlag"  id="state1"  ng-model="student.state" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.state1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.state1.$error.required') Wybierz Stan.
        label(style="font-weight:bold;") Akceptujemy podania wylacznie z nastepujacych stanow: IL, IN i WI. Jesli jestes pod nakazem pozostania w domu, skontaktuj sie z cohelpdesk@ccc.edu albo zostaw wiadomosc na 312-553-2600 po dalsza pomoc.
.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='postal-code1') Kod pocztowy
            .input-group.p-has-icon
                input#postal-code1.form-control.bootcamp-input(type='text' ui-mask="99999" ui-mask-placeholder
                ui-options="{clearOnBlur:false}"  name='postalCode1' placeholder='Kod pocztowy'
                    ng-disabled="student.disableFieldsFlag"  ng-model="student.postal" required)
                span.input-group-state
                    span.p-position
                        span.p-text
                            span.p-required-text
                                i.fa.fa-star
                span.p-field-cb
            .p-field-error( ng-if="loanerLaptopAppForm.postalCode1.$touched && loanerLaptopAppForm.postalCode1.$error.mask" ) Wpisz kod pocztowy.
            div(ng-show='loanerLaptopAppForm.$submitted || loanerLaptopAppForm.postalCode1.$touched || SubmittedClicked')
                .p-field-error(ng-show='loanerLaptopAppForm.postalCode1.$error.required') Wpisz kod pocztowy.

hr
div(ng-show="Submitted")
    p   <a class="pointer" ng-click="goToAgreement('agreementPOL')"><span style="font-weight: bold;">Potwierdzenie opublikowane</span>.</a>

div(ng-hide="Submitted")
    <strong>Potwierdzenie legal</strong>
    p Przez klikniecie na kwadraciku potwierdzam ze czytalem I zgadzam sie z waunkami pozyczki laptopa tu  <a class="pointer" ng-click="goToAgreement('agreementPOL')"><span style="font-weight: bold;">opublikowane</span>.</a>
    .custom-control.custom-checkbox
        input#privacyconsent.custom-control-input(type='checkbox', name='privacyconsent', ng-model='student.privacyconsent', required)
        label.custom-control-label(for='privacyconsent') Zgoda na warunki pozyczki.
        span.glyphicon.glyphicon-check
        i.fa.fa-check-square-o
        span.input-group-state
            span.p-position
                span.p-text
                    span.p-required-text
                        i.fa.fa-star
        span.p-field-cb
        div(ng-show='loanerLaptopAppForm.$submitted || SubmittedClicked')
            .p-field-error(ng-show='loanerLaptopAppForm.privacyconsent.$error.required') Prosze o wyraznie zgody.


#addressModal.modal.fade(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true")
    .modal-dialog.modal-dialog-centered.modal-sm
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title Address Validation
            .modal-body(ng-model="student")
                .row
                    .col-sm-12.sched-radioseason
                        .row
                            .col-sm-2
                                label( for="opt1")
                                    input#opt1(type="radio",   ng-click='addressSelectionMade("validatedAddress")'    name="opt")
                            .col-sm-10
                                p.bold   Select the U.S. Post Office validated address if it looks correct
                        .row
                            .col-sm-12  {{student.delivery_line_1}}
                            .col-sm-12   {{student.last_line}}

                    .col-sm-12.sched-radioseason
                        hr
                        .row
                            .col-sm-2
                                label( for="opt0")
                                    input#opt0(type="radio",   ng-click='addressSelectionMade("enteredAddress")'  name="opt")
                            .col-sm-10
                                p.bold  Or select the address you entered
                        .row
                            .col-sm-12   {{student.address }}  {{student.address2 }}
                            .col-sm-12    {{student.city  }}, {{student.state  }}   {{student.postal}}
                        hr
                .row
                    .col-sm-offset-4.col-sm-8
                        button.btn.btn-primary.btn-sm(type='input'  ng-click='closeModal()') Close to edit address